{% extends 'base.html.twig' %}

{% block body %}
	<div class="login-sidenav">
		<div class="login-main-text">
			{% block auth_title %}{% endblock %}
		</div>
	</div>
	<div class="login-main">
		<div class="col-md-6 col-sm-12">
			<div class="login-form">
				<form method="post">
					{% block auth_form %}{% endblock %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
